<% if session[:current_user_id] == nil %>
   <a id="login" <%= link_to 'login',  :id =>"login", :controller => "login", :action => "index" %>
    <br>
<% end %>
<div id="container">
  <% if session[:current_user_id] != nil %>
      <h3>Logged in as: <%= User.find(session[:current_user_id]).name %></h3>
  <% end %>
  <% if session[:admin_user] == true %>
      <h3 style="margin-right: 480px; margin-left: 380px;width: 500px; color:#154A6F;">Admin DashBoard</h3>

      <div id="tabs" style="margin-right: 400px; margin-left: 370px;width: 670px">

        <ul>
          <li><a href="1"><%= link_to 'New User', new_user_path %></a></li>
          <li><a href="2"><%= link_to 'Delete User', :controller => "users", :action => "index" %></a></li>
          <li><a href="3"><%= link_to 'Questions', :controller => "posts", :action => "report", :id =>"options" %></a></li>
          <li><a href="4"><%= link_to 'Report',:controller => "posts", :action => "report", :id =>"report" %></a></li>
          <li><a href="5"><%= link_to 'Archives',:controller => "posts", :action => "index" %></a></li>
        </ul>

       <!-- <div id="tabs-1"> Add New User: <%= link_to 'New User', new_user_path %> </div>
        <div id="tabs-2"> Make admin or delete user from the system: <%= link_to 'Delete User', :controller => "users", :action => "index" %></div>
        <div id="tabs-3"> Delete any post: <%= link_to 'Questions', :controller => "posts", :action => "report", :id =>"options" %></div>
        <div id="tabs-4"> View activity report: <%= link_to 'Report',:controller => "posts", :action => "report", :id =>"report" %></div>
        <div id="tabs-5"> View archived questions: <%= link_to 'Archives',:controller => "posts", :action => "index" %></div>   -->

      </div>
      </div>

  <% end %>
  <%= link_to 'Post a Question', new_post_path, :id=>"newQues" %>
  <br>

  <h4>Questions</h4>
  <table style="width: 100%">

    <% @posts.each do |post| %>
        <tr class="<%= cycle("even", "odd") %>">
          <td>
            <p class="question"> <%= post.question %>
              <% if session[:current_user_id]!=nil %>

                  <%= link_to image_tag( src="/images/thumbs-up.png", :class => "voteup"),
                              new_vote_path(:post_id=>post.id) %>
                  <% if post.votes.count!=0 %>
                      [<%= h post.votes.count %>]
                  <% end %>

                  <a id="comment" <%= link_to image_tag(src="/images/comment.png",:id=>"comment", :class => "voteup"),
                              new_comment_path(:post_id=>post.id, :post_question=>post.question) %>
                  <% if post.comments.count!=0 %>
                      [<%= h post.comments.count %>]
                  <% end %>
              <% end %>

            </p>

            <p>Created by: <%= h post.user.uname %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Created at: <%= h post.created_at.to_formatted_s(:long_ordinal) %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Last Updated at: <%= h post.updated_at.to_formatted_s(:long_ordinal) %> </p>
            Comments:
            <ul id="comments">
              <% post.comments.each do |comment| %>

                  <li>
                    <%= comment.reply %>
                    <% if session[:current_user_id]!=nil && session[:current_user_id]==comment.user_id %>
                        <%= link_to 'Delete',:controller =>"comments", :action => "destroy", :id=>comment.id %>
                    <% end %>
                    <% if session[:current_user_id]!=nil %>
                        <%= link_to image_tag(src="/images/thumbs-up.png", :class => "voteup"),
                                    new_comment_vote_path(:comment_id=>comment.id) %>
                        <% if comment.comment_votes.count!=0 %>
                            [<%= h comment.comment_votes.count %>]
                        <% end %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
            <% if session[:admin_user] == true || session[:current_user_id] == post.user_id %>

                <%= link_to 'Show', post %>
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>

  </div>
  </div>
  <br/>