<table>
  <tr>
    <th>Questions</th>
    <th>Vote Count</th>
    <th> Created By</th>
    <th>Number of comments</th>
  </tr>

<% @posts.each do |post| %>

  <tr id="reportsheet">
    <td><%= post.question %></td>

 <% if session[:admin_user] !=false %>
    <% if @method=="report" %>
       <td align="center"> <%= post.numVotes %></td>
       <td align="center"> <%= post.user.name %></td>
       <td align="center"> <%= post.comments.count%></td>

    <% else %>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
        <% end %>
     <% end %>
  </tr>

      <% end %>
</table>

<br />
<%= link_to 'Back', posts_path %>


